<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0, width=device-width"/>
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<title>首页导航</title>
	<link rel="stylesheet" type="text/css" href="../../font/iconfont.css">
	<link rel="stylesheet" type="text/css" href="../../css/weui.css">
	<link rel="stylesheet" type="text/css" href="../../css/jquery-weui.css">
	<link rel="stylesheet" type="text/css" href="../../css/menudown.css">
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<link rel="stylesheet" type="text/css" href="nearby_common.css">
	<style type="text/css">
	header{position: relative;z-index: 2;}
	#mask{
		width: 100%;
		position: fixed;
		top: 0;left: 0;
		z-index: 1; 
		height: 100%;
		background: rgba(0,0,0,0.6);
		display: none;
	}
		#cityBox{font-size: 0.7rem;}

		#chose_box{
			width: 100%;
			position: relative;
			z-index: 2;
		}
		#chose_top{
			width: 100%;
			text-align: center;
			clear: both;
		}
		#chose_top i{
			color: #999;
			font-size: 0.6rem;
		}
		#chose_top ul{list-style: none;}
		#chose_top ul li{
			display: block;
			float: left;
			width: 25%;
			height: 3rem;
			line-height: 3rem;
			background: #f0f0f0;
		}

		#chose_bottom{
			clear: both;
			width: 100%;
			background: #fff;
			display: none;
			position: absolute;
			top: 3rem;
			left: 0;
			z-index: 2;
			color: #666;
			box-shadow: 0px 0px 5px #ccc;
		}
		#chose_bottom .chose_items{padding: 0.5rem;display: none;}
		#chose_bottom li{border-bottom: 1px solid #dbdbdb;line-height: 2.4rem;font-size: 0.7rem;padding-left: 0.2rem;}
		#chose_bottom li:last-child{border-bottom: none;}
	</style>
</head>
<body>
<div id="mask"></div>
<header>
	<div class="weui-flex">
	  <div class="weui-flex__item text_left"><a id="cityBox" href="city.html">城市</a></div>
	  <div class="weui-flex__item text_center">查看周边</div>
	  <div class="weui-flex__item text_right" style="font-size: 0.7rem;"><a href="map.html">地图</a></div>
	</div>
</header>
<div id="chose_box">
	<div id="chose_top">
		<ul>
			<li onclick="openChoseItems(0)"><span>附近</span> <i class="iconfont">&#xe672;</i></li>
			<li onclick="openChoseItems(1)"><span>类型</span> <i class="iconfont">&#xe672;</i></li>
			<li onclick="openChoseItems(2)"><span>智能排序</span> <i class="iconfont">&#xe672;</i></li>
			<li onclick="openChoseItems(3)"><span>筛选</span> <i class="iconfont">&#xe672;</i></li>
		</ul>
	</div>
	<div id="chose_bottom">
		<div class="chose_items" index="0">
			<ul>
				<li onclick="choseThisItem(this)">1km</li>
				<li onclick="choseThisItem(this)">5km</li>
				<li onclick="choseThisItem(this)">10km</li>
				<li onclick="choseThisItem(this)">定位</li>
			</ul>
		</div>
		<div class="chose_items" index="1">
			<ul>
				<li onclick="choseThisItem(this)">证卡</li>
				<li onclick="choseThisItem(this)">箱包钱包</li>
				<li onclick="choseThisItem(this)">手机数码</li>
				<li onclick="choseThisItem(this)">钥匙</li>
				<li onclick="choseThisItem(this)">其他</li>
			</ul>
		</div>
		<div class="chose_items" index="2">
			<ul>
				<li onclick="choseThisItem(this)">距离</li>
				<li onclick="choseThisItem(this)">最新</li>
				<li onclick="choseThisItem(this)">金额</li>
			</ul>	
		</div>
		<div class="chose_items" index="3">
			<ul>
				<li onclick="choseThisItem(this)">寻物</li>
				<li onclick="choseThisItem(this)">招领</li>
				<li onclick="choseThisItem(this)">不限</li>
			</ul>
		</div>
	</div>
</div>

	<div id="list" style="clear: both;">
		<a href="detail.html">
			<div class="card_box" v-for="item in recommend">
				  <div class="weui-cell card_top_box" style="border: none;">
				    <div class="weui-cell__hd card_pic_box" >
				     	<img src="../../img/5.jpg"/>
				    </div>
				    <div class="weui-cell__bd card_text_box">
				      <h3>Guard</h3>
		    			<span class="sl_address">12分钟前</span>
				    </div>
				    <div class="weui-cell__bd card_text_box text_right reward">
				      报酬 <span class="yellow_font">100元</span>
				    </div>
				  </div>
				  <div class="card_middle_box">
				  	<p><span class="green_font">#寻物#</span> iphone8 plus在深圳苹果体验店被偷了，找到者重金酬谢。</p>
				  </div>
		    	<div class="card_bottom_box">
		    			<div class="card_bottom_img_box">
		    				<img src="../../img/1.jpg">
		    				<img src="../../img/2.jpg">
		    			</div>
		    			<div class="card_bottom_img_box">
		    				<img src="../../img/2.jpg">
		    			</div>
		    			<div class="card_bottom_img_box">
		    				<img src="../../img/3.jpg">
		    			</div>
		    		<div class="clear"></div>
		    	</div>
		    	<div class="lost_place">
		    		丢失地：深圳市龙岗区六约牛屎埔苹果体验店展厅上
		    	</div> 	
		    </div>
		</a>
		<a href="detail.html">
			<div class="card_box" v-for="item in recommend">
				  <div class="weui-cell card_top_box" style="border: none;">
				    <div class="weui-cell__hd card_pic_box" >
				     	<img src="../../img/5.jpg"/>
				    </div>
				    <div class="weui-cell__bd card_text_box">
				      <h3>Guard</h3>
		    			<span class="sl_address">12分钟前</span>
				    </div>
				    <div class="weui-cell__bd card_text_box text_right reward">
				      报酬 <span class="yellow_font">100元</span>
				    </div>
				  </div>
				  <div class="card_middle_box">
				  	<p><small class="yellow_font">#招领#</small> iphone8 plus在深圳苹果体验店被偷了，找到者重金酬谢。</p>
				  </div>
		    	<div class="card_bottom_box">
		    			<div class="card_bottom_img_box">
		    				<img src="../../img/1.jpg">
		    				<img src="../../img/2.jpg">
		    			</div>
		    			<div class="card_bottom_img_box">
		    				<img src="../../img/2.jpg">
		    			</div>
		    			<div class="card_bottom_img_box">
		    				<img src="../../img/3.jpg">
		    			</div>
		    		<div style="clear: both;"></div>
		    	</div>
		    	<div class="lost_place">
		    		丢失地：深圳市龙岗区六约牛屎埔苹果体验店展厅上
		    	</div> 	
		    </div>	
		</a>
	    <!-- <input type="text" id='city-picker' value="浙江 杭州 拱墅区"/> -->
	</div>
	<script type="text/javascript" src="../../js/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="../../js/jquery-weui.js"></script>
	<script type="text/javascript" src="../../js/city-picker.js"></script>
	<script type="text/javascript" src="../../js/menudown.js"></script>
	<script type="text/javascript">
	//默认为”城市“
	if(getQueryString('city')!=null){
		$('#cityBox').html(getQueryString('city'))		
	}

	// 获取city.html传过来的的城市名
	function getQueryString(key){
        var reg = new RegExp("(^|&)"+key+"=([^&]*)(&|$)");
        var result = window.location.search.substr(1).match(reg);
        return result?decodeURIComponent(result[2]):null;
      }
      $('#chose_top li').click(function(){
      	
      })
      function openChoseItems(index){
      	if($('.chose_items').eq(index).css('display')=='none'){
      		$('#mask').slideDown();
      		$('body').css({
      			'overflow':'hidden'
      		})
      		$('#chose_top li').css('color','#666');
	      	$('#chose_top li').children('i').css('color','#999');
	      	$('#chose_top li').eq(index).css('color','#00d697');
	      	$('#chose_top li').eq(index).children('i').css('color','#00d697');
	      	$('.chose_items').hide()
	      	$('.chose_items').eq(index).show()
	      	$('#chose_bottom').slideDown()
	      }else{
	      	$('#chose_top li').eq(index).css('color','#666');
	      	$('#chose_top li').eq(index).children('i').css('color','#999');

	      	$('#mask').slideUp(100);
	  		$('body').css({
	  			'overflow':'visible'
	  		})
	      	$('#chose_bottom').slideUp()
	      	$('.chose_items').eq(index).slideUp()
	      }	
      }
      function choseThisItem(that){
      	$('#mask').slideUp(100);
      	$('.chose_items').slideUp()
        $('#chose_bottom').slideUp()
        var index=$(that).parent().parent('.chose_items').attr('index');
        $('#chose_top li').eq(index).css('color','#666');
	    $('#chose_top li').eq(index).children('i').css('color','#999');
        $('#chose_top span').eq(index).text($(that).text())
      }
	</script>
</body>
</html>